@use "sass:map";

$breakpoints: (
  mobile: 0px,
  tablet: 680px,
  desktop: 1024px,
  xl: 1440px,
);

@mixin mq($breakpoint) {
  @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin mqMax($breakpoint) {
  @media (max-width: #{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin mqHelper($property, $values...) {
  $widths: map.values($breakpoints);

  @for $i from 0 to length($values) {
    @media (min-width: #{nth($widths, $i+1)}) {
      #{$property}: #{nth($values, $i + 1)};
    }
  }
}
