:root {
  --color-espi-red: #fb263b;
  --color-white: #ffffff;
  --color-espi-black: #000000;
  --color-extra-light-grey: #f7f7f7;
  --color-light-grey: #f1f1f1;
  --color-medium-grey: #b2b2b2;
  --color-dark-grey: #666666;
}
