@use "../../app/styles/base.scss" as *;

.drawers {
  @include mqHelper("padding", 48px 0px, 64px 0px, 80px 0px);
  background-color: var(--color-espi-black);
  color: var(--color-white);
}

.whiteBackground {
  background-color: var(--color-white);

  * {
    color: var(--color-espi-black);
  }

  svg > circle {
    opacity: 1;
    fill: var(--color-medium-grey) !important;
  }
}

.imageOnLeft {
  .media {
    grid-row: 2;
    @include mq("tablet") {
      grid-column: span 4;
      grid-row: 1;
      margin-right: 42px;
    }
    @include mq("desktop") {
      grid-column: span 6;
      margin-right: 62px;
    }
  }
  .left {
    margin-right: 0;
    @include mq("tablet") {
      grid-column: 5/13;
    }
    @include mq("desktop") {
      grid-column: 7/13;
    }
  }
}

.left {
  grid-column: 1/-1;
  @include mq("tablet") {
    grid-column: span 8;
    margin-right: 42px;
  }
  @include mq("desktop") {
    grid-column: span 6;
    margin-right: 62px;
  }
}

.title {
  @include as-l-serif;
  margin-bottom: 32px;
  @include mq("desktop") {
    margin-bottom: 48px;
  }
}

.drawerItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.media {
  position: relative;
  object-fit: contain;
  aspect-ratio: 3/4;
  grid-column: 1/-1;
  @include mqHelper("border-radius", 20px, 11px, 27px, 40px);
  overflow: hidden;
  @include mq("tablet") {
    grid-column: 9/13;
  }
  @include mq("desktop") {
    grid-column: 7/13;
  }
}
