@use "../../app/styles/base.scss" as *;

.sliderNews {
  @include mqHelper("padding", 24px 0px, 20px 0px, 32px 0px);
}

.articleCard {
  width: 240px;
  flex: 0 0 auto;
  @include mq("desktop") {
    width: 290px;
  }

  &:hover {
    .textContent {
      border-radius: 40px;
    }
    .media {
      border-radius: 80px;
      > * {
        transform: scale(1);
      }
    }
  }
}

.media {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/4;
  transition: border-radius var(--animation-soft-curve-200ms);

  > * {
    transform: scale(1.05);
    transition: transform var(--animation-soft-curve-200ms);
  }

  @include mq("desktop") {
    border-radius: 40px;
  }
}

.textContent {
  padding: 24px;
  background-color: var(--color-espi-black);
  border-radius: 20px;
  transition: border-radius var(--animation-soft-curve-200ms);

  @include mq("desktop") {
    border-radius: 40px;
  }
}

.publishedDate {
  @include as-xs-text;
  color: var(--color-white);
  opacity: 0.5;
  margin-bottom: 8px;
}

.text {
  @include as-s-text;
}

.title {
  color: var(--color-white);
}

.shortDescription {
  color: var(--color-white);
  opacity: 0.5;
}
