@use "../../app/styles/base.scss" as *;

.statementLarge {
  @include as-xl-serif;
  @include mqHelper("padding", 64px 24px, 80px 40px, 144px 70px);
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);

  strong {
    @include as-xl-sans-bold;
  }

  @include mq("desktop") {
    gap: 32px;
  }
}

.inverted {
  background-color: var(--color-espi-black);
  color: var(--color-white);
}

.content {
  grid-column: 1/-1;
  margin-bottom: 24px;

  @include mq("desktop") {
    grid-column: span 10;
  }
}

.button {
  grid-column: 1/-1;
}
