@use "../../app/styles/base.scss" as *;

.contentTextImage {
  @include mqHelper("padding-top", 24px, 24px, 40px);
  @include mqHelper("padding-bottom", 48px, 64px, 80px);
}

.white {
  background-color: var(--color-white);
}

.grey {
  background-color: var(--color-extra-light-grey);
}

.left {
  position: relative;
  grid-column: 1/-1;
  margin-bottom: 32px;

  @include mq("desktop") {
    grid-column: 1/5;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.right {
  display: flex;
  flex-wrap: wrap;
  @include mqHelper("gap", 16px, 20px, 32px);
  grid-column: 1/-1;

  a {
    @include as-link;
  }

  @include mq("desktop") {
    grid-column: 6/13;

    p {
      width: 71%;
    }
  }
}
