@use "../../app/styles/base.scss" as *;

.headerNews {
  position: relative;
  background-color: var(--color-extra-light-grey);
}

.headerNewsInner {
  column-gap: 0 !important;
  @include mqHelper(
    "padding",
    114px 24px 34px,
    114px 40px 32px,
    134px 70px 40px
  );

  @include mq(desktop) {
    flex-direction: row;
  }
}

.tag {
  width: fit-content;
  text-decoration: none !important;
  color: inherit;
}

.left,
.image {
  @include mqHelper("border-radius", 10px, 18px, 27px);
  flex: 1;
  grid-column: 1/-1;

  @include mq(desktop) {
    flex: auto;
  }
}

.left {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include mqHelper("padding", 24px, 40px);
  @include mq(desktop) {
    grid-column: 1/5;
  }
}

.title {
  @include as-m-sans;
}

.image {
  position: relative;
  aspect-ratio: 3/2;
  object-fit: contain;
  overflow: hidden;

  @include mq(desktop) {
    grid-column: 5/13;
  }
}
