@use "../../app/styles/base.scss" as *;

.contentQuote {
  display: flex;
  flex-direction: column;
  @include mqHelper("width", 100%, 100%, calc(71% - 40px));
  @include mqHelper("gap", 16px, 24px);
  @include mqHelper("padding-left", 24px, 40px);
  border-left: 4px solid var(--color-espi-black);

  p.quote {
    @include as-l-text; // needed to override the default text size of the StructuredText component
  }
}

.author {
  @include as-m-text;
}
