@use "../../app/styles/base.scss" as *;

.statementNumbered {
  display: flex !important;
  flex-direction: column;
  @include mqHelper("padding", 24px 0px, 24px 0px, 32px 0px);
  @include mq("tablet") {
    flex-direction: row !important;
    align-items: flex-start;
  }
}

.imageContainer {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 16px;
  aspect-ratio: 1/1;

  @include mq("tablet") {
    margin-bottom: 0;
    margin-right: 16px;
  }

  @include mq("desktop") {
    width: 124px;
    height: 124px;
    margin-right: 32px;
  }
}

.textContent {
  max-width: 85%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  @include as-xl-sans;
}

.subtitle {
  @include as-l-text;
  @include mq("tablet") {
    max-width: 60%;
  }
}
