@use "../../app/styles/base.scss" as *;

.filter {
  padding: 24px 0px;
  button {
    @include as-m-element;
    border-radius: 80px;
    padding: 15px 20px;
    color: var(--color-espi-black);
    background-color: var(--color-light-grey);
    border: none;
    cursor: pointer;
    transition:
      background-color var(--animation-soft-curve-200ms),
      color var(--animation-soft-curve-200ms);

    &:hover {
      cursor: pointer;
      background-color: var(--color-espi-black);
      color: var(--color-white);
    }

    &.active {
      background-color: var(--color-espi-black);
      color: var(--color-white);
    }
  }
}

.newsFilter {
  background-color: var(--color-extra-light-grey);
  button {
    background-color: var(--color-white);
  }
}

.filterCategories,
.filterOptions {
  grid-column: 1/-1;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.filterCategories {
  margin-bottom: 20px;
  position: relative;
  padding-top: 24px;

  &::before {
    content: "";
    height: 1px;
    background-color: var(--color-espi-black);
    opacity: 0.2;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.filterOptions {
  grid-column: 1/-1;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.activeFilter {
  transition:
    opacity var(--animation-soft-curve-200ms),
    transform var(--animation-soft-curve-200ms);
  animation: fadeIn var(--animation-soft-curve-200ms);
}

.selectedRow {
  width: 100%;
  @include mq("tablet") {
    width: fit-content;
  }
}

.selected {
  @include as-m-element;
  border-radius: 80px;
  padding: 15px 20px;
  background-color: var(--color-espi-black);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  width: fit-content;
  position: relative;

  svg {
    position: absolute;
    right: -10px;
    top: 0;
  }
}
