@use "../../app/styles/base.scss" as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.openPositions {
  display: flex;
  flex-wrap: wrap;
  @include mqHelper("padding", 48px 24px 64px, 64px 40px, 80px 70px);

  svg {
    width: 93px;
    height: 93px;
    margin-bottom: 24px;
    animation: spin 10s linear infinite;

    @include mq("tablet") {
      margin-bottom: 0;
    }

    @include mq("desktop") {
      width: 181px;
      height: 181px;
      grid-column: span 2;
    }
  }
}

.jobContent {
  grid-column: 1/-1;

  @include mq("tablet") {
    grid-column: 4/13;
  }
}

.title {
  @include as-l-serif;
  margin-bottom: 32px;
}

.jobs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.jobLinkWrapper {
  text-decoration: none;
  color: var(--color-espi-black);
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  background-color: var(--color-extra-light-grey);
  @include mqHelper("padding", 24px, 24px, 40px);
  @include mqHelper("border-radius", 20px, 20px, 40px);
  @include as-m-sans;

  &:hover {
    background-color: var(--color-espi-black);
    color: var(--color-white);
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }

  @include mq("tablet") {
    flex-direction: row;
    align-items: center;
  }
}

.office {
  color: var(--color-medium-grey);

  @include mq("tablet") {
    margin-left: 40px;
  }
}
