@use "../../app/styles/base.scss" as *;

.purpose {
  background-color: var(--color-white);
  @include mqHelper("padding", 24px 0px, 20px 0px, 32px 0px);
}

.inverted {
  background-color: var(--color-espi-black);
  color: var(--color-white);
}

.text {
  @include as-m-text;
  margin-bottom: 32px;
}

.leftSide {
  grid-column: 1/-1;
  margin-bottom: 48px;

  @include mq("tablet") {
    grid-column: span 8;
    margin-bottom: 0;
    margin-right: 43px;
  }
  @include mq("desktop") {
    grid-column: span 6;
    margin-right: 62px;
  }
}

.container {
  @include mqHelper("padding", 24px 0px, 20px 0px, 32px 0px);
}

.textContent {
  margin-bottom: 64px;
}

.media {
  aspect-ratio: 1/1;
  position: relative;
  grid-column: 1/-1;
  @include mqHelper("border-radius", 20px, 15px, 26px);
  overflow: hidden;

  @include mq("tablet") {
    grid-column: span 4;
  }
  @include mq("desktop") {
    grid-column: span 6;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
