@use "../../app/styles/base.scss" as *;

.carouselContainer {
  display: flex;
  overflow: hidden;
  grid-column: 1/-1;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;

  @include mq("desktop") {
    gap: 32px;
  }
}

.items {
  display: flex;
  gap: 20px;
  width: fit-content;

  @include mq("desktop") {
    gap: 32px;
  }
}
