@use "../../app/styles/base.scss" as *;

.gridCard {
  @include mqHelper("margin-bottom", 24px, 20px, 32px);
  display: none;
  flex-direction: column;
  grid-column: 1/-1;
  overflow: hidden;
  border-radius: 20px;
  color: var(--color-espi-black);
  text-decoration: none;
  height: fit-content;

  @include mq("tablet") {
    grid-column: span 6;

    &:nth-child(1),
    &:nth-child(3n + 1) {
      grid-column: 1/-1;
    }
  }
  @include mq("desktop") {
    border-radius: 40px;
  }
}

.invertedCard {
  color: var(--color-white);
}

.visible {
  display: flex;
}

.media {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  aspect-ratio: 3/2;

  .gridCard:nth-child(1) &,
  .gridCard:nth-child(3n + 1) & {
    aspect-ratio: 2/1;
  }
}

.cardContent {
  padding: 16px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mq("desktop") {
    padding: 24px 32px 28px;
  }
}

.title {
  @include as-xs-sans;
}

.subtitle {
  @include as-xxs-sans;
}
