@use "../../app/styles/base.scss" as *;

.teaserCaseGrid {
  @include mqHelper("padding", 24px, 20px 40px, 32px 70px);
  opacity: 1;
}

.button {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.filterActiveFade {
  animation: fadeOutIn var(--animation-soft-curve-400ms);
}
