@use "../../app/styles/base.scss" as *;

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.cookieConsentForm {
  border-top: 1px solid var(--color-medium-grey);
  position: fixed;
  background-color: var(--color-white);
  bottom: 0;
  z-index: 999;
  @include mqHelper("padding", 24px 0px, 32px 0px);
  animation: slideUp 0.5s forwards;
}

.hidden {
  animation: slideDown 0.5s forwards;
  pointer-events: none;
}

.top {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @include mq(tablet) {
    margin-bottom: 32px;
  }
}

.text {
  @include as-s-text;
  width: 100%;

  @include mq(desktop) {
    max-width: 60%;
  }
}

.buttonsDesktop,
.buttonsMobile {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;

  > a {
    @include as-m-text;
    color: var(--color-espi-black);
  }
}

.buttonsMobile {
  grid-column: 1/-1;

  @include mq(tablet) {
    justify-content: flex-end;
  }

  @include mq(desktop) {
    display: none;
  }
}

.buttonsDesktop {
  display: none;

  @include mq(desktop) {
    display: flex;
  }
}
